.product-price {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  gap: 6px;
  align-content: center;
  line-height: 32px;
  word-wrap: break-word;
}

.product-price__old {
  color: $base-primary;
  font-size: 16px;
  text-decoration: line-through;
}

.product-price__new {
  font-weight: 600;
  font-size: 20px;
}
