.product {
  display: grid;

  @media ($desktop) {
    grid-template-rows: min-content 1fr;
    grid-template-columns: 600px 1fr;
    column-gap: 30px;
    padding-left: 65px;
    padding-right: 65px;
  }
}

.product__wrapper-image {
  margin: 0;

  @media ($tablet) {
    grid-row: 3/4;
    justify-self: center;
  }

  @media ($desktop) {
    grid-row: 1/3;
  }
}

.product__image {
  display: block;
}

.product__description {
  display: grid;
  padding-top: 10px;
  width: 280px;

  @media ($tablet) {
    margin-bottom: 20px;
    width: 728px;
  }

  @media ($desktop) {
    width: auto;
    justify-items: flex-start;
    padding-top: 150px;
    grid-template-rows: min-content min-content min-content;
    grid-template-columns: 625px;
    margin-bottom: 0;
  }
}

.product__description-title {
  margin: 0 0 10px;

  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.72px;
  word-wrap: break-word;
  text-align: center;

  @media ($tablet) {
    font-size: 56px;
    line-height: 80px;
    letter-spacing: 1.12px;
    margin-bottom: 15px;
  }
}

.product__description-label {
  display: block;
  grid-row: 1/2;
  margin-bottom: 5px;

  text-align: center;
}

.product__description-text {
  text-align: center;
  margin: 0;

  @media ($tablet) {
    font-size: 20px;
    line-height: 32px;
    margin: 0 90px;
  }

  @media ($desktop) {
    text-align: start;
    margin: 0;
    margin-right: 70px;
  }
}

.product__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
  margin: 19px 25px 0;

  @media ($tablet) {
    margin: 0 250px 20px;
  }

  @media ($desktop) {
    margin: 0;
    gap: 21.5px;
    align-content: flex-start;
    margin-right: auto;
    grid-template-columns: min-content min-content;
    padding-top: 40px;
  }
}

.product__footer-price {
  //
}

.product__footer-button {
  padding: 8px 20px;

  text-decoration: none;
  color: $base-white;
  background-color: $base-primary;
  font-size: 16px;
  line-height: 24px;
  word-wrap: break-word;
  border-radius: 4px;
}
